@charset "utf-8";
/* CSS Document */

body,
html {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    overflow-x: hidden;
}

.c6 {
    display: inline-block;
    float: left;
    width: 50%;
}

/*  add classmates form  */

a {
    outline: 0;
    text-decoration: none;
    color: #000;
}

.menu-btn {
    position: absolute !important;
    top: 10px;
    left: 10px;
}
@media only screen and (min-width: 993px){
nav a.button-collapse {
    display: block;
}}
.pb50 {
    padding-bottom: 50px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#7474BF, #3586C2);
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #7474BF;
    border-bottom: 2px solid #7474BF;
}

.bottom-btns {}

.bottom-btns .delete-btn {
    float: left;
}

.bottom-btns .cancel-btn {
    float: right;
    line-height: 78px;
    text-transform: uppercase;
    padding-right: 15px;
    font-weight: 700;
    color: #3586C2;
}

nav {
    /*border-radius: 20px;*/
}

nav.nav-extended .nav-wrapper {
    height: 160px;
    background: linear-gradient(#7474BF, #3586C2);
    /*border-radius: 20px;*/
    /*border-top-right-radius: 0;*/
    /*border-top-left-radius: 0;*/
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 0;
    width: 14.2%;
    float: left;
    text-align: center;
}

.weekDays-selector {
    height: 70px;
    clear: both;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #989898;
    border-radius: 3px;
    margin-top: 0px;
}

[type="checkbox"]:checked+label:before {
    top: 25px;
}

.odd_even_week_label:before {
    top: 4px !important;
    left: 0 !important;
}

.odd_even_week_label {
    padding-left: 25px !important;
}

.add-btn {
    position: fixed;
    right: calc(50% - 28px);
    bottom: -8px;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
    color: #114789;
    display: block;
    line-height: 16px;
    padding: 10px 12px;
}
.dropdown-content li {
    min-height: 35px;
}
.page-title {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.page-icon {
    height: 50px;
    margin: 0 auto;
    display: block;
}

.box {
    border-bottom: 1px solid #efeeee;
    padding: 10px 0;
    display: table;
    width: 100%;
    position: relative;
}

.box-image {
    display: block;
    color: grey;
    padding-bottom: 6px;
}

.box-image img {
    height: 19px;
    margin-bottom: -5px;
    margin-right: 8px;
}

.form-group {
    border-botom: 1px solid grey;
    padding: 10px;
}

.form-group label {}

.form-group input {
    font-size: 18px;
}

.form-group img {
    height: 15px;
    margin-right: 20px;
}

.general-form {
    clear: both;
}

.general-form input {
    margin: 0;
    height: auto;
    color: #626262;
    font-weight: 700;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 18px;
    border-bottom: 1px solid #dadada !important;
    box-shadow: none !important;
    letter-spacing: 0.6px;
}

.general-form label {
    text-transform: uppercase;
    font-size: 11px;
    color: #bfbfbf;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.general-form textarea {
    height: 60px;
    border: 0;
    border-bottom: 1px solid #dadada !important;
}

.general-form #error {
    color: red;
}

.general-form input[type="submit"] {
    background: linear-gradient(#7474BF, #3586C2);
    display: block;
    width: auto;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    padding: 12px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

.general-form .form-group {
    padding: 0;
    margin: 0;
    position: relative;
    /*overflow: auto;*/
}

.no-data {
    text-align: center;
}

.no-data img {
    height: 70px;
}

.no-data p {
    color: #b5b5b5;
    margin-top: 40px;
}

.btn-floating.btn-large {
    background: linear-gradient(#7474BF, #3586C2);
    z-index: 8;

}
.box {
    padding: 15px;
    box-shadow: 1px 1px 19px #e4e4e4;
    margin-bottom: 10px;
    background-color: #fff;
}

.box-content {
    float: left;
    width: 100%;
}

.box-delete {
    float: right;
}

.box-name {
    font-size: 14px;
    display: block;
    font-weight: 700;
    padding-bottom: 10px;
}
.half-box{
    display: inline-block;
    float: left;
    width:50%;
}
.box-name img {
    width: 20px;
    float: right;
    opacity: 0.6;
}
button:focus {outline:0;}
textarea:focus {outline:0;}
input:focus {outline:0;}


.half {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.waves-effect {
    margin: 0;
}

.modal {
    width: 88%;
    max-height: 100%;
}

.modal-content {}

.modal-content {}

.modal-content {}

.modal-content {}

.modal-content {}

.modal-content {}

.modal-content {}

.side-nav a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.side-nav a img {
    height: 25px;
    margin: 0 12px 0 0;
    vertical-align: middle;
}

.menu-list-bottom {
    position: absolute;
    bottom: 90px;
    right: 0;
    left: 0;
}

.side-nav {}

.userView {
    background: linear-gradient(#7474BF, #3586C2);
    padding: 90px 0 0 !important;
    text-align: center;
}

.userView .name {
    margin-top: 60px !important;
    font-weight: 500;
    letter-spacing: 2px;
}

.userView .email {
    font-weight: 500;
    font-size: 12px !important;
}

.bottom-bar {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-top: 1px solid #ececec;
    padding: 10px 15px 0 15px;
    z-index: 2;
}

.bottom-bar img {
    height: 18px;
}

.bottom-bar a {
    width: 17%;
    float: left;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
}

.bottom-bar a:nth-child(2) {
    margin-right: 28%;
}

.row {
    margin-bottom: 0;
}

/*----------------------login/signin----------------------------------*/

.sign-form-wrap {
    margin-top: 160px;
    background-color: #fff;
    width: calc(100% - 80px);
    margin-left: 40px;
    padding: 20px;
    box-shadow: 0px 4px 25px 6px #00000014;
    border-radius: 15px;
    margin-bottom: 30px;

}

.sign-link {
    width: 50%;
    float: left;
    opacity: 0.3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.sign-link.active {
    opacity: 1;
}

.modal h5#title{
    font-size: 16px;
    line-height: 152%;
    margin: 20px;
    text-align: center;
}
.modal.delete-modal{
    padding-bottom: 30px;
}
.modal.delete-modal button, .modal-close{
    background: linear-gradient(#e6654f, #d83f2f);
    display: block;
    width: auto;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    padding: 12px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.modal-close{
    background: linear-gradient(#7474BF, #3586C2);
    float:left;
}
.modal-cancel{
    background: none;
    color: #4e4e4e;
    display: inline-block;
    width: auto;

    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    padding: 12px 15px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.modal-delete{
    background: none;
    color: #910d00;
    display: inline-block;
    width: auto;

    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    padding: 12px 15px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.op4{
    opacity:0.4;
}
/*-------------------------courses-----------------------------*/

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;    position: absolute;
    top: 17px;
    right: 13px;
    /* If you want dots under the hoverable text */
}
.tooltip img{
    opacity:0.4;
    width:27px;
}
/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* loading */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#loading .preloader-wrapper {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}